### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Package Files #
*.jar
*.war
*.ear

### Java ###
*.class

### Idea ###
.idea
.settings

### General ####
.DS_Store
.vscode

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar